html
    head
        link(rel='stylesheet' href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='/static/app.css')
        title!= title
    body
        .container.p-padding-tb
            .row
                .col.s12
                    .label
                        | 上传excel文件
                        i.material-icons.small.tooltipped.tips(data-position="right" data-delay="50" data-tooltip="上传excel文件，大小不超过10mb，需包含邮箱地址列") live_help
            .row
                .col.s12
                    .file-field.input-field
                        .btn
                            span 选择文件
                            input(type='file' name='excel' id='excel')
                        .file-path-wrapper
                            input.file-path.validate(type='text' placeholder='点击上传excel文件')
            .row
                .col.s12
                    .label
                        | 创建邮件模板
                        i.material-icons.small.tooltipped.tips(data-position="right" data-delay="50"
                        data-tooltip="邮件模板支持占位符，格式为{{ $n }}，n为列数，$1代表第一列数据，支持简单运算；可上传图片，图片保存一个星期") live_help
            .row
                .input-field.col.s12
                    input#title.validate(type="text")
                    label(for='title') 邮件主题
            .row
                .col.s12
                    #editor
            .row
                .col.s12.align-right
                    a.waves-effect.waves-light.btn-large.preview-btn 预览
            // 隐藏区域 预览后显示
            .hidden-div
                .row
                    .col.s12
                        .label
                            | 邮件预览
                            i.material-icons.small.tooltipped.tips(data-position="right" data-delay="50"
                            data-tooltip="根据邮件模板，抓取第二行数据生成的邮件预览") live_help
                .row
                    .col.s12
                        .preview-content
                .row
                    .col.s12
                        .label
                            | 填写发件邮箱信息
                            i.material-icons.small.tooltipped.tips(data-position="right" data-delay="50"
                            data-tooltip="提供发件人的邮箱信息，以及邮件商提供的smtp服务器地址及端口") live_help
                .row
                    .input-field.col.s6
                        input#email.validate(type="text")
                        label(for='email') 邮箱
                    .input-field.col.s6
                        input#pass.validate(type="text")
                        label(for='pass') 密码
                .row.select-smtp
                    .input-field.col.s6
                        select#select-smtp
                            option(value="" disabled selected) 请选择smtp服务器
                            option(value="smtp.qq.com") QQ邮箱——smtp.qq.com
                            option(value="smtp.163.com") 网易邮箱——smtp.163.com
                            option(value="smtp.exmail.qq.com") 腾讯企业邮——smtp.exmail.qq.com
                            option(value="smtp.aliyun.com") 阿里邮箱——smtp.aliyun.com
                            option(value="smtp.gmail.com") gmail——smtp.gmail.com
                            option(value="smtp-mail.outlook.com") outlook——smtp-mail.outlook.com
                        label(for='host') smtp服务器

                    .input-field.col.s6.align-right
                        .waves-effect.waves-light.btn.manual-input-btn 手动填写

                .row.manual-input-smtp
                    .input-field.col.s6
                        input#host.validate(type="text")
                        label(for='host') smtp服务器
                    .input-field.col.s6
                        input#port.validate(type="text" placeholder="默认为465")
                        label(for='port') 端口
                .row
                    .col.s12.align-right
                        a.waves-effect.waves-light.btn-large.send-email 确认发送

                .defeat
                    .row
                        .col.s12
                            .label
                                | 失败列表
                                i.material-icons.small.tooltipped.tips(data-position="right" data-delay="50"
                                data-tooltip="下列邮箱发送失败，请重新发送") live_help

                    .row
                        .col.s12
                            .defeat-list

        script(src='//lib.baomitu.com/socket.io/2.0.3/socket.io.js')
        script(src='/static/jquery/dist/jquery.min.js')
        script(src='/static/umeditor/third-party/template.min.js')
        script(src='/static/umeditor/umeditor.config.js')
        script(src='/static/umeditor/umeditor.min.js')
        script(src='/static/umeditor/lang/zh-cn/zh-cn.js')
        script(src='/static/app.js')